# Prevent viewing of the original source files
<Files "game.js">
  Order Allow,Deny
  Deny from all
</Files>

# Disable directory browsing
Options -Indexes

# Prevent access to hitboxes.json
<Files "hitboxes.json">
  Order Allow,Deny
  Deny from all
</Files>

# Allow access to the minified versions
<Files "dist/game.min.js">
  Order Allow,Deny
  Allow from all
</Files>

# Allow access to the minified hitboxes
<Files "dist/hitboxes.json">
  Order Allow,Deny
  Allow from all
</Files>
